<%- include('partials/header') -%>
<h1>Search Train</h1>
<div>
    <form action="/searchTrain" method="post">
        <label for="trainNo">Train No: </label>
        <input type="text" name="trainNo" id="">
        <button type="submit">submit</button>
    </form>
</div>
<div>
    <table>
        <tr>
          <th>Train no</th>
          <th>New Train no</th>
          <th>Train Name</th>
        </tr>

        <% array.forEach(function(item){ %>
        <tr>
          <td><%= item.train_number %></td>
          <td><%= item.new_train_number %> </td>
          <td><%= item.train_name %></td>
        </tr>
        <% }) %>
      </table>
</div> 
<%- include('partials/footer') -%>