<%- include('partials/header') -%>
<div>
    <form action="/trainsBetweenStations" method="post">
        <label for="">From : </label>
        <input type="text" name="from" id="">
        <label for="">To:</label>
        <input type="text" name="to">
        <label for="">Select Date(optional)</label>
        <input type="checkbox" name="checkbox">
        <input type="date" name="date">
        <button type="submit">submit</button>
    </form>
</div>
<div>
    <table>
        <tr>
          <th>Train no</th>
          <th>Train Name</th>
          <th>Departure</th>
          <th>Arrival</th>
          <th>days</th>
        </tr>

        <% try{%>
        <% var traindata = JSON.parse(trndata).data %>
        <% for(var i=0 ;i < traindata.length; i++){ %>
        <tr>
          <td><%= traindata[i].train_base.train_no %></td>
          <td><%= traindata[i].train_base.train_name%> </td>
          <td><%= traindata[i].train_base.from_stn_code%>: <%=traindata[i].train_base.from_time%></td>
          <td><%= traindata[i].train_base.to_stn_code%>: <%=traindata[i].train_base.to_time%></td>
          <td><%=traindata[i].train_base.running_days%></td>
        </tr>
        <%} } catch(error){}%>
      </table>
</div>
<%- include('partials/footer') -%>